.skills {
    width: 25%;
    background-color: white;
}

.react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.description {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    height: 100px;
    width: 100px;
    background-color: #dbeb69;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 600px){
    .skills {
        width: 100%;
        height: 200px;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .react {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .description {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo {
        height: 100px;
        width: 100px;
        background-color: #dbeb69;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}