.myskills{
    height: 100vh;
    background-color: #52eb96;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 70%;
    display: flex ;
    flex-direction: column;
}
.description{
    height: 35%;
    display: flex;
    justify-content: center;
}
.skills{
    height: 65%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    .myskills{
        height: auto;
        background-color: #52eb96;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 90%;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }
    .description{
        margin: 30px;
        display: flex;
        justify-content: center;
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}