.myworks{
    height: 100vh;
    background-color: #ce9beb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80%;
    display: flex ;
    flex-direction: column;
}
.works{
    height: 25%;
    display: flex;
    justify-content: center;
}
.projects{
    height: 75%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    .myworks{
        height: auto;
        background-color: #ce9beb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100%;
        height: 80%;
        display: flex ;
        flex-direction: column;
    }
    .works{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .projects{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}